<ul class="list-group mt-1">
    <a class="list-group-item list-group-item-action" [ngClass]="{active: activeMenu==='News Feed'}" (click)="sideBarValue($event)" id="News Feed">News Feed</a>
    <a class="list-group-item list-group-item-action" [ngClass]="{active: activeMenu==='Profile'}" (click)="sideBarValue($event)" id="Profile">Profile</a>
    <a class="list-group-item list-group-item-action" [ngClass]="{active: activeMenu==='Messages'}" (click)="sideBarValue($event)" id="Messages">Messages</a>
    <a class="list-group-item list-group-item-action" [ngClass]="{active: activeMenu==='Groups'}" (click)="sideBarValue($event)" id="Groups">Groups</a>
</ul>